<include href="views/header.html"></include>

<div class="row background2">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Tittle</th>
                <th>Quantity</th>
                <th>Shipping</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@orders}}" value="{{ @order }}">
                <tr>
                    <td>{{ @order['name'] }}</td>
                    <td>{{ @order['email'] }}</td>
                    <td>{{ @order['title'] }}</td>
                    <td>{{ @order['qty'] }}</td>
                    <td>{{ @order['shipping']}}</td>
                    <td>{{ @order['address'] }} </td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>


</html>