<include href="views/header.html"></include>
<div class="row background2">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Phone</th>
                <th>Address on File</th>
                <th>Payment Information</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{ @users }}" value="{{ @user }}">
                <tr>
                    <td>{{ @user['name'] }}</td>
                    <td>{{ @user['email'] }}</td>
                    <td>{{ @user['password'] }}</td>
                    <td>{{ @user['phone'] }}</td>
                    <td>{{ @user['stAddress'] }} &nbsp; {{ @user['stAdress2'] }} &nbsp; {{ @user['city'] }}  &nbsp; {{ @user['state'] }} &nbsp; {{ @user['zip'] }} </td>
                    <td>{{ @user['cardNumber'] }} &nbsp; {{ @user['expiration'] }} &nbsp; {{ @user['cvv'] }}  </td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>
</div>
</body>


</html>