<include href="views/header.html"></include>
<form action="#" method="post">
<div class="container-fluid">
    <div class="row floatleft">
        <div class="col-12 col-sm-6 floatleft">
            <p>Here is your Order: </p>
            <repeat group="{{ @customerCarts }}" value="{{ @customer }}">
                <p>{{ @customer['title']}} - ${{ @customer['price'] }} x{{ @customer['qty'] }}</p>
                <img class=" floatleft" src="images/{{ @customer['title'] }}.png" alt="{{ @customer['title'] }}">
            </repeat>
            <check if ="{{!@SESSION.gameOrder instanceof gameOrder_membership}}">
                <div class="row floatleft">
                    <h3 class="floatleft">Shipping Options</h3>
                    <repeat group="{{ @Shippings }}" value="{{ @day }}">
                        <label><input type="radio" name="day" value="{{ @day }}">
                            <check if="{{ @day }} == '5.99'">One day shipping</check>
                            <check if="{{ @day }} == '3.99'">Two days shipping</check>
                            <check if="{{ @day }} == '0'">3-5 days shipping</check> - Price: ${{ ucfirst(@day) }}
                        </label><br>
                    </repeat>
                </div>
            </check>
        </div>
        <div class="col-12 col-sm-6 floatleft">
            <check if="{{@SESSION.gameOrder instanceof gameOrder_membership}}">
                <p class="floatleft">Name: {{@SESSION.gameOrder->getName()}}</p>
                <p class="floatleft">Email: {{@SESSION.gameOrder->getEmail()}}</p>
                <p class="floatleft">Address: {{@SESSION.gameOrder->getAddress()}}</p>
                <p class="floatleft">Free One day shipping</p>
            </check>
            <check if="{{!@SESSION.gameOrder instanceof gameOrder_membership}}">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-12 col-sm-4">
                        <label for="name"><strong>Name:</strong></label><br>
                        <input type="text" id="name" name="guestName" placeholder="Enter Name"><br>
                        <check if="{{ isset(@errors['guestName'])}}">
                            <span class="err">{{ @errors['guestName'] }}</span>
                        </check>
                    </div>
                    <div class="col-12 col-sm-4">
                        <label><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="guestEmail">
                        <check if="{{ isset(@errors['guestEmail'])}}">
                            <span class="err">{{ @errors['guestEmail'] }}</span>
                        </check>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <label for="stAddress"><strong>Street Address</strong></label><br>
                            <input type="text" id="stAddress" name="guestStAddress" placeholder="1234 main st"><br>
                            <check if="{{ isset(@errors['guestStAddress'])}}">
                                <span class="err">{{ @errors['guestStAddress'] }}</span>
                            </check>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <label for="stAdress2"><strong>Address 2</strong></label><br>
                            <input type="text" id="stAdress2" name="guestStAdress2" placeholder="Appointment, studio, or floor"><br>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-12 col-sm-4">
                            <label for="city"><strong>City</strong></label><br>
                            <input type="text" id="city" name="guestCity" placeholder="Kent"><br>
                            <check if="{{ isset(@errors['guestCity'])}}">
                                <span class="err">{{ @errors['guestCity'] }}</span>
                            </check>
                        </div>
                        <div class="col-12 col-sm-2">
                            <label for="state"><strong>State: </strong></label>
                            <br>
                            <select id="state" name="guestState">
                                <option value="Washington">Washington</option>
                                <option value="Alabama">Alabama</option>
                                <option value="Alaska">Alaska</option>
                                <option value="Arizona">Arizona</option>
                                <option value="Arkansas">Arkansas</option>
                                <option value="California">California</option>
                                <option value="Colorado">Colorado</option>
                                <option value="Connecticut">Connecticut</option>
                                <option value="Delaware">Delaware</option>
                                <option value="District of Columbia">District of Columbia</option>
                                <option value="Florida">Florida</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Guam">Guam</option>
                                <option value="Hawaii">Hawaii</option>
                                <option value="Idaho">Idaho</option>
                                <option value="Illinois">Illinois</option>
                                <option value="Indiana">Indiana</option>
                                <option value="Iowa">Iowa</option>
                                <option value="Kansas">Kansas</option>
                                <option value="Kentucky">Kentucky</option>
                                <option value="Louisiana">Louisiana</option>
                                <option value="Maine">Maine</option>
                                <option value="Maryland">Maryland</option>
                                <option value="Massachusetts">Massachusetts</option>
                                <option value="Michigan">Michigan</option>
                                <option value="Minnesota">Minnesota</option>
                                <option value="Mississippi">Mississippi</option>
                                <option value="Missouri">Missouri</option>
                                <option value="Montana">Montana</option>
                                <option value="Nebraska">Nebraska</option>
                                <option value="Nevada">Nevada</option>
                                <option value="New Hampshire">New Hampshire</option>
                                <option value="New Jersey">New Jersey</option>
                                <option value="New Mexico">New Mexico</option>
                                <option value="New York">New York</option>
                                <option value="North Carolina">North Carolina</option>
                                <option value="North Dakota">North Dakota</option>
                                <option value="Northern Marianas Islands">Northern Marianas Islands</option>
                                <option value="Ohio">Ohio</option>
                                <option value="Oklahoma">Oklahoma</option>
                                <option value="Oregon">Oregon</option>
                                <option value="Pennsylvania">Pennsylvania</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Rhode Island">Rhode Island</option>
                                <option value="South Carolina">South Carolina</option>
                                <option value="South Dakota">South Dakota</option>
                                <option value="Tennessee">Tennessee</option>
                                <option value="Texas">Texas</option>
                                <option value="Utah">Utah</option>
                                <option value="Vermont">Vermont</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Virgin Islands">Virgin Islands</option>
                                <option value="Washington">Washington</option>
                                <option value="West Virginia">West Virginia</option>
                                <option value="Wisconsin">Wisconsin</option>
                                <option value="Wyoming">Wyoming</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-2">
                            <label for="zip"><strong>Zip Code</strong></label><br>
                            <input type="text" id="zip" name="guestZip" placeholder="98059"><br>
                            <check if="{{ isset(@errors['guestZip'])}}">
                                <span class="err">{{ @errors['guestZip'] }}</span>
                            </check>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-12 col-sm-8">
                            <div class="row">
                                <label for="cardNumber"><strong>Card Number</strong></label><br>
                                <input type="text" id="cardNumber" name="guestCardNumber" placeholder=""><br>
                                <check if="{{ isset(@errors['guestCardNumber'])}}">
                                    <span class="err">{{ @errors['guestCardNumber'] }}</span>
                                </check>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <label for="expiration">Expiration date:</label>
                                    <input type="text" id="expiration" name="guestExpiration" placeholder="MM/YY">
                                    <check if="{{ isset(@errors['guestExpiration'])}}">
                                        <span class="err">{{ @errors['guestExpiration'] }}</span>
                                    </check>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <label for="cvv"><strong>CVV</strong></label><br>
                                    <input type="text" id="cvv" name="guestCvv" placeholder=""><br>
                                    <check if="{{ isset(@errors['guestCvv'])}}">
                                        <span class="err">{{ @errors['guestCvv'] }}</span>
                                    </check>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </check>
        </div>
    </div>
    <div class="row floatleft">
        <div class="col-12 col-sm-4"></div>
        <div class="col-12 col-sm-4">
            <p class="floatleft">Total: ${{round(@totals, 2)}} </p>
            <p class="floatleft">Tax: ${{round((@tax = @totals*0.093),2)}}</p>
            <check if="{{@SESSION.gameOrder instanceof gameOrder_membership}}">
                <p class="floatleft">
                    Membership Discount (10%): ${{round(@discount = ((@totals + @tax) * 0.1), 2)}}
                </p>
            </check>
            <p class="floatleft">Total Price after tax: ${{(@totals + @tax - @discount)}}</p>
        </div>
        <div class="col-12 col-sm-4"></div>
    </div>
</div>
    <button class="btn-primary buttonRight" type="submit">Check out</button>
</form>
</body>
</html>