<include href="views/header.html"></include>
<div>
  <!-- credit to https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 -->
  <img id="header-img" src="images/gamingwebsitefront.jpeg" alt="Home Page Header">
</div>
<div class="container-fluid text-center my-5">
  <h2>Game Tracker</h2>
  <p class="pt-3">Keeping track of YOUR games so YOU don't have to!</p>
  <br>
  <p id ="home-page-content">Welcome to our website, the ultimate destination for gamers and video game enthusiasts alike!
    We showcase the best and latest games from all genres and platforms, providing detailed reviews and ratings for each game.
    Our expert team of gaming enthusiasts works tirelessly to bring you the latest and most exciting games, ensuring that you never miss out on the best new releases.

    In addition to our comprehensive game reviews, we also provide a platform for our users to get involved and contribute to the site. You can create an account and submit your own game reviews,
    or add your favorite games to our user-curated lists. Our discussion area is the perfect place to connect with other gamers, discuss the newest releases, and exchange tips and tricks.

    Whether you're a hardcore gamer or a casual player, we have something for everyone. Our site is designed to be intuitive and easy to use, so you can quickly find the games you're interested in and start playing right away.
    Join our community of passionate gamers today and discover the best games on the market!

  </p>

  <iframe src="https://www.youtube.com/embed/xYzGtuIYnZU" allowfullscreen></iframe>


</div>

</body>

</html>