<include href="views/header.html"></include>
<form method="post">
    <div class="container-fluid">
        <div class="row">
            <check if="{{@SESSION.tittle}} == 'Fortnite'">
                <div class="row">
                    <div class="col-12 col-sm-1"></div>
                    <div class="col-12 col-sm-6">
                        <h1><strong>Fortnite</strong></h1>
                        <hr>
                        <h3 class="left">Fortnite is a massive online shooting game with 3 million concurrent player online.</h3>
                        <hr>
                        <h3 class="left">
                            Price: Free To Play
                        </h3>
                        <label class="left">Quantity: <input type="number" name="quantity" value="1"></label>
                        <h3 class="left">0 Available</h3>
                    </div>
                    <div class="col-12 col-sm-4">
                        <img class="gameImage" src="images/Fortnite.png" alt="Fortnite">
                    </div>
                    <div class="col-12 col-sm-1"></div>
                </div>
            </check>

            <check if="{{@SESSION.tittle}} == 'Pacman'">
                <div class="col-12 col-sm-1"></div>
                <div class="col-12 col-sm-6">
                    <h1><strong>Pacman</strong></h1>
                    <hr>
                    <h3 class="left">Pac-Man is an action[8] maze chase video game; the player controls the eponymous character through an enclosed maze.</h3>
                    <hr>
                    <h3 class="left">
                        Price: $4.44
                    </h3>
                    <label class="left">Quantity: <input type="number" name="quantity" value="1"></label>
                    <h3 class="left">50 Available</h3>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="gameImage" src="images/Pacman.png" alt="Pacman">
                </div>
                <div class="col-12 col-sm-1"></div>
            </check>

            <check if="{{@SESSION.tittle}} == 'Call of Duty'">
                <div class="col-12 col-sm-1"></div>
                <div class="col-12 col-sm-6">
                    <h1><strong>Call of Duty</strong></h1>
                    <hr>
                    <h3 class="left">Pac-Man is an action[8] maze chase video game; the player controls the eponymous character through an enclosed maze.</h3>
                    <hr>
                    <h3 class="left">
                        Price: $19.99
                    </h3>
                    <label class="left">Quantity: <input type="number" name="quantity" value="1"></label>
                    <h3 class="left">40 Available</h3>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="gameImage" src="images/Call of Duty.png" alt="Call of Duty">
                </div>
                <div class="col-12 col-sm-1"></div>
            </check>

            <check if="{{@SESSION.tittle}} == 'Super Mario Bros'">
                <div class="col-12 col-sm-1"></div>
                <div class="col-12 col-sm-6">
                    <h1><strong>Super Mario Bros</strong></h1>
                    <hr>
                    <h3 class="left">Pac-Man is an action[8] maze chase video game; the player controls the eponymous character through an enclosed maze.</h3>
                    <hr>
                    <h3 class="left">
                        Price: $19.99
                    </h3>
                    <label class="left">Quantity: <input type="number" name="quantity" value="1"></label>
                    <h3 class="left">35 Available</h3>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="gameImage" src="images/Super Mario Bros.png" alt="Mario">
                </div>
                <div class="col-12 col-sm-1"></div>
            </check>

            <check if="{{@SESSION.tittle}} == 'Minecraft'">
                <div class="col-12 col-sm-1"></div>
                <div class="col-12 col-sm-6">
                    <h1><strong>Minecraft</strong></h1>
                    <hr>
                    <h3 class="left">Pac-Man is an action[8] maze chase video game; the player controls the eponymous character through an enclosed maze.</h3>
                    <hr>
                    <h3 class="left">
                        Price: $29.99
                    </h3>
                    <label class="left">Quantity: <input type="number" name="quantity" value="1"></label>
                    <h3 class="left">30 Available</h3>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="gameImage" src="images/Minecraft.png" alt="Minecraft">
                </div>
                <div class="col-12 col-sm-1"></div>
            </check>

            <check if="{{@SESSION.tittle}} == 'Sonic'">
                <div class="col-12 col-sm-1"></div>
                <div class="col-12 col-sm-6">
                    <h1><strong>Sonic</strong></h1>
                    <hr>
                    <h3 class="left">Pac-Man is an action[8] maze chase video game; the player controls the eponymous character through an enclosed maze.</h3>
                    <hr>
                    <h3 class="left">
                        Price: $9.99
                    </h3>
                    <label class="left">Quantity: <input type="number" name="quantity" value="1"></label>
                    <h3 class="left">25 Available</h3>
                </div>
                <div class="col-12 col-sm-4">
                    <img class="gameImage" src="images/Sonic.png" alt="Sonic">
                </div>
                <div class="col-12 col-sm-1"></div>
            </check>

            <div class="col-12 col-sm-1"></div>

            <check if ="{{@SESSION.gameOrder instanceof gameOrder_membership}}">
                <div class="row">
                    <h3>Thank you for being our members!</h3>
                    <h3 name="day" vaulue="0">You have 5% discount and Free Shipping</h3>
                </div>
            </check>
            <div class="row">
                <div class="col-12 col-sm-3"></div>
                <div class="col-12 col-sm-3">
                    <button class="btn-primary buttonRight" type="submit">Add To Cart</button>
                </div>
                <div class="col-12 col-sm-3"></div>
            </div>

        </div>
    </div>
</form>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>